<footer class="footer">
    <div class="rothenbacher-logo-wrapper">
        <a class="rothenbacher-logo-link" href="http://www.rothenbacher-gmbh.de/"></a>
    </div>
    <div class="contakt-wrapper">
        <button class="contact-button"></button>
        <button class="contact-button-arrow"></button>
    </div>
    <div class="emergency-service-wrapper"></div>
    <div class="copyright-wrapper"></div>
    <div class="graphic-tools-wrapper"></div>
</footer>




