<header class="header">
    <nav class="nav nav-login">
        <div>
            <p><span>M</span>aterial<span>S</span>status</p>
            <p><span>M</span>aterial<span>S</span>status</p>
        </div>
    </nav>
</header>