@using MaterialStatus.Service
@*@using MaterialStatus.Models*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-quick-mix.ico">
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css" asp-append-version="true"/>
    
</head>
<body>
    @Html.Partial("HeaderLoginPartial")

    <main class="container container-login">
        <p class="tmp">Diese Seite befindet sich im Development-Modus</p>
        <p class="tmp">Login und navigation ohne Passwort</p>
        <a class="tmp-link" href="MainPage">to main page ></a>
        <a class="tmp-link" href="AdminArea">to admin area ></a>
    </main>
    
</body>
</html>