@*@using MaterialStatus.Service
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminArea</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-quick-mix.ico">
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
</head>
<body>
    @Html.Partial("HeaderAdminAreaPartial")
</body>
</html>*@