@using MaterialStatus.Service
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminArea</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_material_status.ico">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @Html.Partial("HeaderAdminAreaPartial")
</body>
</html>