<footer class="footer">
    <div class="rothenbacher-logo-wrapper">
        <a class="rothenbacher-logo-link" href="http://www.rothenbacher-gmbh.de/" target="_blank">
            <img class="rothenbacher-logo-image" src="/images/logo_rothenbacher.png" 
                 alt="Logo von Rothenbacher GmbH und Link zur Website rothenbacher.com"/>
        </a>
    </div>
    <div class="contakt-wrapper">
        <button class="contact-button"></button>
        <button class="contact-button-arrow"></button>
    </div>
    <div class="emergency-service-wrapper">
        <img class="emergency-service-icon" src="~/images/icon_24_7.png" 
             alt="Symbol vom Computernotdienst"/>
        <div class="emergency-service-text-block">
            <p class="emergency-service-titel">Emergency Service</p>
            <a href="tel:+4917620063724">(+49) 176 200 63 724</a>
        </div>
    </div>
    <div class="copyright-wrapper">
        <p>
            Copyright &#169; 
            <a href="http://www.rothenbacher-gmbh.de/" target="_blank">Rothenbacher GmbH</a>.
            All rights reserved.
        </p>
    </div>
    <div class="graphic-tools-wrapper">
        <p>Graphic design tools:</p>
        <img class="moquaps-logo" src="~/images/logo_moqups.png" 
             alt="Logo von Moqups und Link zur Website app.moqups.com"/>
        <img class="-logo" src="~/images/logo_cleanpng.png" 
             alt="Logo von CleanPng und Link zur Website cleanpng.com"/>
    </div>
</footer>




