<footer class="footer">
    <div class="rothenbacher-logo-wrapper">
        <a class="footer-link" href="http://www.rothenbacher-gmbh.de/" target="_blank">
            <img class="rothenbacher-logo-image" src="/images/logo_rothenbacher.png" 
                 alt="Logo von Rothenbacher GmbH und Link zur Website rothenbacher.com"/>
        </a>
    </div>
    <div class="footer-item-wrapper">
        <button class="reset-button contact-button footer-link" id="contact-open">Kontakt</button>
    </div>
    <div class="footer-item-wrapper emergency-service-wrapper">
        <img class="emergency-service-icon" src="~/images/icon_24_7.png" 
             alt="Symbol vom Computernotdienst"/>
        <div class="emergency-service-text-block">
            <p class="emergency-service-titel">Emergency Service</p>
            <a class="footer-link" href="tel:+4917620063724">(+49) 176 200 63 724</a>
        </div>
    </div>
    <div class="footer-item-wrapper">
        <p>
            Copyright &#169; 2023 
            <a class="footer-link" href="http://www.rothenbacher-gmbh.de/" target="_blank">Rothenbacher GmbH</a>.
            All rights reserved.
        </p>
    </div>
    <div class="footer-item-wrapper">
        <p>
        Graphic design tools: 
            <a class="footer-link" href="https://moqups.com/" target="_blank">moqups</a>, 
            <a class="footer-link" href="https://www.svgrepo.com" target="_blank">svgrepo</a>, 
            <a class="footer-link" href="https://www.cleanpng.com/" target="_blank">cleanpng</a>
        </p>
    </div>
</footer>




