
<header class="header">
    <nav class="main-nav">
        <div class="main-nav-block main-nav-left-block"></div>
        <div class="main-nav-block main-nav-center-block">
            @Html.Partial("FilterPartial")
        </div>
        <div class="main-nav-right-block"></div>
    </nav>
</header>