<section class="location-rothenbacher visually-hidden">
    <h2 class="viasually-hidden">Anfahrt von Rothenbacher GmbH</h2>
    <div class="location-map">
        <a href="https://maps.google.com/maps?q=S.+Rothenbacher+GmbH" target="_blank">
            <img class="logation-foto" src="images/img_map.png" alt="Anfahrt auf Google Maps">
        </a>
    </div>
</section>