<form class="main-filter" action="#" method="get"> <!--todo-->
    <fieldset>
        <legend>Benutzer</legend>
        <label class="main-filter-item"><input type="checkbox" name="halle1_all_lines" value="halle1_all_lines" /> Alle</label><br/>
        <label class="main-filter-item"><input type="checkbox" name="halle1_line1" value="halle1_line1" />Linie 1</label><br/>
        <label class="main-filter-item"><input type="checkbox" name="halle1_line2" value="halle1_line2" />Linie 2</label>
    </fieldset>
    <fieldset>
        <legend>Halle 2</legend>
        <label class="main-filter-item"><input type="checkbox" name="halle2_all_lines" value="halle2_all_lines"/> Alle</label><br/>
        <label class="main-filter-item"><input type="checkbox" name="halle2_line1" value="halle2_line1"/>Linie 1</label><br/>
        <label class="main-filter-item"><input type="checkbox" name="halle2_line2" value="halle2_line2"/>Linie 2</label>
    </fieldset>
    <div class="main-filter-buttons">
        <input type="submit" value="Auswählen"/>
        <input type="reset"/>
    </div>
</form>
