<section class="contact-rothenbacher">
    <p class="contakt-header">Wir sind für Sie da</p>
    <addres>
        <p>Rothenbacher GmbH</p>
        <p>Zeppelinstraße 16, <br/>﻿89160 Dornstadt</p>
        <p><a href="tel.:+497348201208"> (07348) 20-12-08</a></p>
        <p><a href="fax:+497348201208"> (07348) 20-13-82</a></p>
        <p><a href="mailto:info@rothenbacher-gmbh.de">info@rothenbacher-gmbh.de</a></p>
        <p><a href="http://www.rothenbacher-gmbh.de/">www.rothenbacher-gmbh.de/</a></p>
    </addres>
</section>