@*
    Navigation elements for HeaderMainPagePartial.cshtml
*@
<ul class="nav-items">
    <li class="nav-item ">        
        <button id="btnHalleB" class="reset-button filter-button" aria-label="Halle B">Halle B</button>
    </li>
    <li class="nav-item">
        <button id="btnHalleG" class="reset-button filter-button" aria-label="Halle G">Halle G</button>
    </li>
    <li class="nav-item">
        <button id="btnAlleHallen" class="reset-button filter-button" aria-label="Alle einblenden">Alle</button>
    </li>
    <li class="nav-item">
        <!-- zu implementieren-->
        @*<button class="reset-button burger-button visually-hidden" name="burger-button" aria-label="Alle Hallen"></button>*@
    </li>
</ul>