@*
    Navigation elements for HeaderAdminAreaPartial.cshtml
*@
<ul class="elements-nav">
    <li class="elements-nav-item">
        <a class="elements-nav-link">Benutzer</a>
    </li>
    <li class="elements-nav-item">
        <a class="elements-nav-link">Gruppen</a>
    </li>
    <li class="elements-nav-item">
        <a class="elements-nav-link">Abteilungen</a>
    </li>
</ul>