@*
    Navigation elements for HeaderMainPagePartial.cshtml
*@
<ul class="elements-nav">
    <li class="elements-nav-item">
        <a class="elements-nav-link">Halle 1</a>
    </li>
    <li class="elements-nav-item">
        <a class="elements-nav-link">Halle 2</a>
    </li>
    <li class="elements-nav-item">
        <button class="button filter-button">filter</button>
    </li>
</ul>