@*
    Navigation elements for HeaderMainPagePartial.cshtml
*@
<ul class="nav-items">
    <li class="nav-item">
        <button class="reset-button nav-button" name="halle-1-button" aria-label="Halle 1">Halle 1</button>
    </li>
    <li class="nav-item">
        <button class="reset-button nav-button" name="halle-2-button" aria-label="Halle 2">Halle 2</button>
    </li>
    <li class="nav-item">
        <button class="reset-button filter-button" name="filter-button" aria-label="Filter"></button>
    </li>
</ul>