<p class="project-logo">
    @*<a href="#top"> <!-- zu loeschen-->
            <span class="first-char">M</span>aterial
            <span class="first-char">S</span>tatus
        </a>*@
<img class="project-logo" src="~/images/logo-quick-mix.png"/>
</p>