@using MaterialStatus.Features.SWG.Models
@using MaterialStatus.Service

@foreach (var silo in ViewData["RohstoffSilosG"] as List<String?>)
{
    foreach (var lagerG in ViewData["LagerG"] as List<MaterialStatus.Features.SWG.Models.tbl_lager>)
    {

        foreach (var materialG in ViewData["MaterialG"] as List<MaterialStatus.Features.SWG.Models.tbl_material>)
        {
            if (lagerG.fid_material == materialG.id && lagerG.sap_bezeichnung == silo)
            {
<article class="lager-place">
    <h2 class="lager-header">
        <span>@lagerG.sap_bezeichnung</span>
    </h2>

    <p class="lager-paragraph lager-paragraph-accent">@materialG.bezeichnung</p>
  
    <div class="lager-display-wrapper">
        <img class="lager-image" src="~/images/img_silo_gp.png" />
        <div class="lager-scale-wrapper">
            <ul class="scale">
                @for (int y = 99; y >= 0; y -= 2)
                {
                    if (y < Math.Round(100 * lagerG.bestand_aktuell / lagerG.bestand_max, 0))
                    {
                        if (Math.Round(100 * lagerG.bestand_aktuell / lagerG.bestand_max, 0) >= 100)
                        {
                            <li class="scale-item scale-item-overflow"></li>
                        }
                        else
                        {
                            <li class="scale-item scale-item-normal"></li>
                        }
                    }
                    else
                    {
                        <li class="scale-item scale-item-incomplete"></li>
                    }
                }
            </ul>
            <p class="lager-scale-value">
                @Math.Round(lagerG.bestand_aktuell * 100 / lagerG.bestand_max, 0)<span>%</span>
            </p>
        </div>
    </div>

    <p class="lager-paragraph">
        Füllstand:
        <span class="lager-paragraph lager-paragraph-accent">@Math.Round(lagerG.bestand_aktuell / 1000, 2) t</span>
    </p>

</article>
            }
        }
    }
}
