
<table>
    <tr>
        <th>Rezept</th>
        <th>Soll C.</th>
        <th>Ist C.</th>
        <th>Soll Kg</th>
        <th>Ist Kg </th>
        <th>Ist Sackzahl</th>
    </tr>
    <!-- foreach -->
    <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
    </tr>
</table>