@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto-regular.woff2') format('woff2'), 
         url('/fonts/roboto-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('/fonts/roboto-bold.woff2') format('woff2'), url('/fonts/roboto-bold.woff') format('woff');
}

@import "blocks/normalize.scss";
@import "blocks/variables.scss";
@import "blocks/container.scss";

html {
    box-sizing: border-box; // um die paddings und margins bei width: 100%; nicht aus dem Block fallen
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: $hd-width;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: $main-color;
    font-family: 'Roboto', 'Arial', sans-serif;
}

main {    
    box-sizing: border-box;    
}

footer {
    flex-shrink: 0;
}

a {
    margin: 0;
    padding: 0;
    color: $main-color;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reset-button {
    margin: 0;
    padding: 0;
    background: initial;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.reset-list {
    position: relative;
    list-style: none;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px -1px;
    border: 0;
    padding: 0;
    white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой;*/

    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

//Imports
//--Header (main page)
@import "blocks/header.scss";
@import "blocks/filter-button.scss";
@import "blocks/burger-button.scss";
@import "blocks/project-logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/nav-items.scss";
@import "blocks/functional-nav.scss";
@import "blocks/main-page-link.scss";
@import "blocks/content-main-page.scss";
@import "blocks/user-name.scss";
@import "blocks/admin-area-link.scss";
@import "blocks/help-link.scss";
@import "blocks/logout-link.scss";
//--Header (admin area)
@import "blocks/home-link.scss";
//--Main
@import "blocks/heading.scss";
//--Table
@import "blocks/table-wrapper.scss";
@import "blocks/table-material.scss";
//--Lager
@import "blocks/lager.scss";
@import "blocks/scale.scss";
//--Contetnt (main-page)
@import "blocks/content-main-page.scss";
@import "blocks/sylo.scss";
//--Filter (main-page)
@import "blocks/filter.scss";
@import "blocks/filter-button.scss";
//--Tmp-styles for development modus
@import "blocks/tmp.scss";

