.burger-button {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url("/images/icon_burger.svg");

    &:hover {
        background-image: url("/images/icon_burger_hover.svg");
        //box-shadow: 0 3px 0 $accent-color-1;
    }

    &:focus {
        background-image: url("/images/icon_burger_hover.svg");
        //box-shadow: 0 3px 0 $accent-color-1;
        opacity: 1;
    }
}
