.lager-place {
    width: 335px;
    margin: 19px;
    padding: 25px 10px 25px 25px;
    border: 1px solid $border-color;
}

.lager-header {
    margin: 20px 0 0 0;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
}

.lager-paragraph-wrapper {
    display: flex;
    margin: 10px 0 0 0;
}

.lager-paragraph {
    margin-top: 15px;
    font-size: 26px;
}

.lager-paragraph-accent {
    font-size: 26px;
    font-weight: bold;
}


.lager-display-wrapper {
    display: flex;
    justify-content: start;
    margin: 10px 0 20px 0;
}

.lager-image {
    width: 100px;
    height: 155px;
}
.lager-scale-wrapper {
    margin-left: 30px;
}

.lager-scale-value {
    margin: 8px 0 0 0;
    text-align: center;
}