.lager-place {
    width: 250px;
    margin: 19px;
    padding: 10px;
    border: 1px solid $border-color;
}

.lager-header {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.lager-header-accent {    
    font-size: 20px;
    font-weight: bold;
}

.lager-paragraph-wrapper {
    display: flex;
    margin: 10px 0 0 0;
}

.lager-paragraph {   
    font-size: 16px;
    font-weight: normal;
}

.lager-paragraph-accent {
    padding: 0 0 0 6px;
    font-size: 16px;
    font-weight: bold;
}

.lager-display-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.lager-image {
    margin: 0 10px;
    width: 70px;
    height: 120px;
}
.lager-scale-wrapper {

}

.lager-scale-value {
    text-align: center;
}