.main-page-link {
    position: relative;
    height: 24px;
    padding-left: 30px;
    font-size: 20px;
    text-align: left;

    &::before {
        display: block;
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-size: 24px 24px;
    }

    &:hover::before {
        display: block;
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-size: 24px 24px;
    }

    &:hover {
        box-shadow: 0 3px $accent-color-1;
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}
