.modal-window {
    position: fixed;
    display: none; //flex;
    justify-content: space-between;
    z-index: 100;
    left: 50%;
    top: 50%;
    width: 970px;
    transform: translate(-50%, -50%);
    background-color: $background-second-color;
    box-shadow: 0 0 2px rgba(59,132,242,.5);
}

.modal-close {
    position: absolute;
    content: " ";
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-size: 30px 30px;
    background-image: url("/images/icon_close_blau.svg");

    &:hover {
        opacity: 0.7;
    }

    &:focus {
        opacity: 0.4;
    }
}

//Block with contacts
.modal-contact {
    z-index: 99;
    width: 360px;
    height: 420px;
    padding: 20px 20px 20px 40px;
    border-right: 1px solid #d6d6d6;
}

.address-wrapper {
    height: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    font-size: 18px;
}

.contact-item {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 45px;
    text-align: left;
}

.contact-link {

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    &::before {
        display: block;
        position: absolute;
        content: " ";
        top: 0px;
        left: 20px;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-size: 24px 24px;
    }
}

.contact-header {
    font-weight: bold;
}

.adress::before {
    top: 4px;
    left: 15px;
    background-image: url("/images/icon_address_blau.svg");
}

.phone::before {
    background-image: url("/images/icon_phone_blau.svg");
}

.fax::before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("/images/icon_fax_blau.svg");
}

.email::before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("/images/icon_email_blau.svg");
}

.web-address::before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("/images/icon_www_blau.svg");
}


//Block with map
.modal-location {
    width: 612px;
    height: 420px;
}


