.nav-items {
    display: flex;
    justify-content: space-around;
    margin: 0 10px 0 10px;
    width: 280px;
}

.nav-item {
    display: block;
    height: 24px;
    margin: 0;
    font-size: 22px;
}

.nav-login {
    display: flex;
    justify-content: center;    
}
