.project-logo{
    width: 190px;
    height: 30px;
    margin: 5px;
    border: 1px solid forestgreen;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.project-logo .first-char {
    color: $accent-color-1;
}