.sylo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 8px;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}

.sylo-left-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
}

.sylo-header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.sylo-fullness {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 8px;
}


.sylo-fullness-value {
    font-weight: bold;
    font-size: 16px;
}

.sylo-image-wrapper {
    margin-top: 15px;
}

.sylo-image {
    display: block;
    height: 150px;
    width: auto;
    margin: 0 auto;
    border: 1px solid blau; // zi loeschen
}

//Right block
.sylo-right-block{
    margin-left: 10px;
    height: auto;
}

// Id's
/*#Sylo-B-1 {
    display: flex;
}

#Sylo-B-3 {
    display: flex;
}

#Sylo-G-2 {
    display: flex;
}*/