.tmp {
    font-size: 30px;
    color: red;
    padding: 20px;
}

.tmp-link {
    margin-top: 50px;
    font-size: 24px;

    &:hover {
        box-shadow: 0 3px blue;
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}