
.user-name {
    position: relative;
    min-width: 200px;
    text-align: left;
    opacity: 0.6;

    &::before {
        display: block;
        position: absolute;
        content: " ";
        top: -2px;
        left: -30px;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-size: 24px 24px;
        background-image: url("/images/icon_user.png");
    }
}
