//Colors
$main-color: #000000;
$visited-link-color: #4d4d4d; 
$opposit-color: #ffffff;
$accent-color-1: #ff6b00; //orange
$accent-color-2: #3b84f2; //blau

$background-main-color: #f0f0f0; //header
$background-second-color: #e5e5e5; //footer
$background-third-color: #f4f4f4; //tables header

//Breakpoints
$hd-width: 1920px;
//$hd-height: 1080px;